<%= form_for(@signatory) do |f| %>
  <% if @signatory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@signatory.errors.count, "error") %> prohibited this signatory from being saved:</h2>

      <ul>
      <% @signatory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "First Name" %><br />
    <%= f.text_field :fname %>
  </div>
  <div class="field">
    <%= f.label "Last Name" %><br />
    <%= f.text_field :lname %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
  <label>ID</label><br />
  <%= f.text_field :student_id %><br />
  <sub>Your UQ Staff or Student ID (if Applicable)</sub>

  </div>
  <div class="field">
    <%= f.label :affiliation %><br />
    <%= select_tag "signatory[affiliation]", "<option value='UNDERGRAD'>UQ Undergrad</option><option value='POSTGRAD'>
    UQ Postgrad</option><option value='STAFF'>UQ Staff Member</option><option value='OTHER'>Non-UQ</option>".html_safe%>
  </div>
  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_area :message %>
  </div>
  <div class="actions">
    <%= submit_tag "Sign the Petition" %>
  </div>
<% end %>
