<!DOCTYPE html>
<html>
<head>
    <title>Coal Seam Gas | Research Integrity</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>

    <%= yield(:head) %>
    <%= init_tinymce_hammer_if_required %>

    <%= analytics_init if Rails.env.production? %>

<!--Meta Tags -->
<meta name="description" content="The Research Integrity Coalition is a volunteer student organisation dedicated to
ensuring that the Centre for Coal Seam Gas at the University of Queensland, St Lucia maintains academic integrity and
transparency" />
<meta name="author" content="Research Integrity Coalition"/>
    <meta name="author" content="UQ Environment Collective"/>
    <meta name="author" content="UQ Climate for Change"/>
    <meta name="author" content="Jake Schoermer"/>
    <meta name="author" content="Abraham O'Neill"/>
    <meta name="author" content="Giovanni Sottile"/>
<meta name="keywords" content="Coal Seam Gas, CSG, Sustainable Minerals Institute, Centre for Coal Seam Gas, Chris Moran"/>
<!-- End Meta Tags -->

</head>
<body>
	
	
	<%if admin_signed_in?%>
		<div id="admin_bar">
			<ul class="left">
				<li class="bold">Admin Bar</li>
				<li><%= link_to "List Signatories", {:controller => "signatories", :action => "index", }%></li>
				<li><%= link_to "List Pages", {:controller => "pages", :action => "index"}%></li>
			</ul>
			<ul class="right">
				<li>
					<%= link_to("Logout", "/admin_user/logout") %>
				</li>
			</ul>
		</div>
	<%end%>


    <header>
       <div id="header-inner">
        <h1><%= link_to "Demand Coal Seam Gas Research Integrity", :controller => "pages", :action => "show", :id => "1" %></h1>
        <h2><%= link_to "@UQ", :controller => "pages", :action => "show", :id => "1" %></h2>
       </div>
    </header>

	<div id="page-wrapper">

			
		<nav>
			<ul>
				<li><%= link_to "Home", "/pages/home" %></li>
                <li><%= link_to "About CSG Extraction", "/pages/about-csg-extraction"%></li>
				<li><%= link_to "Media Coverage", "/pages/media-coverage"%></li>
                <li><%= link_to "Contact", "/pages/contact"%></li>
				<li><%= link_to "Sign the Petition", {:controller => "signatories", :action => "new"}%></li>
			</ul>
			<%= link_to image_tag("socialmedia-icons/facebook.png", :size =>"64x64", :alt => "Facebook Campaign Page", :id=>"facebook_icon"), "https://www.facebook.com/#!/CentreforCoalSeamGas"%>
		</nav>
			
		<div id="content">

		<p class="notice"><%= notice %></p>
		  <p class="alert"><%= alert %></p>
			
			<%= yield %>
		
		</div>

  </div> <!-- End #page-wrapper -->

	<footer>
		<div id="footer-inner">		
			<div id="footer-left" class="footer-section">
				<p>The Research Integrity Coalition is an initiative of the UQ Environment Collective and
				<%= link_to "UQ Climate for Change", "http://www.uqclimateforchange.org" %>.  </p>
			</div> <!--End #footer-left -->
		
			<div id="footer-middle" class="footer-section">
				<p>Site by <%= mail_to "jake@secretservers.net", "Jake Schoermer" %></p>
                <p>Content &copy; Copyright <%= Date.current.to_s[0...4] %> Research Integrity Coalition </p>
                <%if !admin_signed_in?%>
                        <%= link_to 'Admin Logon', "/admin_user/login" %>
               	<%end%>

			</div> <!-- End #footer-middle-->
			<div id ="footer-right" class="footer-section">
				<%= image_tag "uqenvirocollective-logo-small.png", size:"80x80"%>
				<%= image_tag "uqcfc-logo-b&w-small.png", size:"80x80"%>
			</div> <!-- End #footer-right-->
		</div> <!-- End #footer-inner-->
	</footer>

</body>
</html>

