<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>

  <%= yield(:head) %>
</head>
<body>
	<div id="page-wrapper">
	
	<div id="admin-logon">
	<%if admin_signed_in?%>
	    Logout
        <!--link_to 'Sign out', destroy_user_session_path, :method => :delete -->
	<%else%>
		<%= link_to 'Sign in', "/admin_user/login" %>
	<%end%>
		
	</div>
	
	<header>
		<h1><%= link_to "Support Research Integrity at UQ", "/" %></h1>
	</header>

			
		<nav><ul>
			<li><a href="">The Problem</a></li>
			<li><a href="">Centre for Coal Seam Gas</a></li>
			<li><a href="">Us</a></li>
			<li><a href="">Fracking</a></li>
			<li><a href="">Media Contact</a></li>
			<li><%=link_to "Sign the Petition", {:controller => "signatories", :action => "new"}%></li>
		</ul></nav>
			
		<div id="content">

			<p class="notice"><%= notice %></p>
		  <p class="alert"><%= alert %></p>
			
			<%= yield %>
		
		</div>

  </div> <!-- End #page-wrapper -->

	<footer>
		<div id="footer-inner">		
			<div id="footer-left" class="footer-section">
				<p>The Research Integrity Coalition is an initiative of the UQ Environment Collective and
				<%= link_to "UQ Climate for Change", "http://www.uqclimateforchange.org" %>.  </p>
			</div> <!--End #footer-left -->
		
			<div id="footer-middle" class="footer-section">
				<p>Site by <%= mail_to "jake@secretservers.net", "Jake Schoermer" %></p>
			</div> <!-- End #footer-middle-->
			<div id ="footer-right" class="footer-section">
				<%= image_tag "uqenvirocollective-logo-small.png"%>
				<%= image_tag "uqcfc-logo-b&w-small.png"%>
			</div> <!-- End #footer-right-->
		</div> <!-- End #footer-inner-->
	</footer>

</body>
</html>

