<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Coal Seam Gas | Research Integrity" %></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
	
  <%= yield(:head) %>
<%= init_tinymce_hammer_if_required %>
</head>
<body>
	
	
	<%if admin_signed_in?%>
		<div id="admin_bar">
			<ul class="left">
				<li class="bold">Admin Bar</li>
				<li><%= link_to "List Signatories", {:controller => "signatories", :action => "index", }%></li>
				<li><%= link_to "List Pages", {:controller => "pages", :action => "index"}%></li>
			</ul>
			<ul class="right">
				<li>

				</li>
			</ul>
		</div>
	<%end%>
	
	<div id="page-wrapper">

	
	<header>
		<%= link_to image_tag("header.png"), {:controller => "pages", :action => "show", :id => "1"}%>
	</header>
			
		<nav>
			<ul>
				<li><%= link_to "Home", {:controller => "pages", :action => "show", :id => "1"} %></li>
				<li><%= link_to "Media Coverage", {:controller => "pages", :action => "show", :id => "2"}%></li>
				<li><%= link_to "Sign the Petition", {:controller => "signatories", :action => "new"}%></li>
			</ul>
			<%= image_tag("socialmedia-icons/facebook.png", :size =>"64x64", :alt => "Facebook Campaign Page", :id=>"facebook_icon")%>
		</nav>
			
		<div id="content">

			<p class="notice"><%= notice %></p>
		  <p class="alert"><%= alert %></p>
			
			<%= yield %>
		
		</div>

  </div> <!-- End #page-wrapper -->

	<footer>
		<div id="footer-inner">		
			<div id="footer-left" class="footer-section">
				<p>The Research Integrity Coalition is an initiative of the UQ Environment Collective and
				<%= link_to "UQ Climate for Change", "http://www.uqclimateforchange.org" %>.  </p>
			</div> <!--End #footer-left -->
		
			<div id="footer-middle" class="footer-section">
				<p>Site by <%= mail_to "jake@secretservers.net", "Jake Schoermer" %></p>
                <p>Content &copy; Copyright <%= Date.current.to_s[0...4] %> Research Integrity Coalition </p>
                <%if !admin_signed_in?%>
                        <%= link_to 'Admin Logon', "/admin_user/login" %>
                 <%end%>

			</div> <!-- End #footer-middle-->
			<div id ="footer-right" class="footer-section">
				<%= image_tag "uqenvirocollective-logo-small.png", size:"80x80"%>
				<%= image_tag "uqcfc-logo-b&w-small.png", size:"80x80"%>
			</div> <!-- End #footer-right-->
		</div> <!-- End #footer-inner-->
	</footer>

</body>
</html>

