<!DOCTYPE html>
<html>
<head>
  <title>CSGResearchIntegrity</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="page-wrapper">
	<header>
		<h1><%= link_to "Support Research Integrity at UQ", "/" %></h1>
	</header>

			
		<nav><ul>
			<li><a href="">The Problem</a></li>
			<li><a href="">Centre for Coal Seam Gas</a></li>
			<li><a href="">Us</a></li>
			<li><a href="">Fracking</a></li>
			<li><a href="">Media Contact</a></li>
			<li><%=link_to "Sign the Petition", {:controller => "signatories", :action => "new"}%></li>
		</ul></nav>
			
		<content>

			<p class="notice"><%= notice %></p>
		  <p class="alert"><%= alert %></p>
			
			<%= yield %>
		
		</content>

        </div> <!-- End #page-wrapper -->

	<footer>
		<div id="footer-inner">		
			<div id="footer-left" class="footersection">
				<p>The Research Integrity Coalition is an initiative of the UQ Environment Collective and
				<%= link_to "UQ Climate for Change", "http://www.uqclimateforchange.org" %>.  </p>
			</div> <!--End #footer-left -->
		
			<div id="footer-middle" class="footersection">
				<p>Site by <%= mail_to "jake@secretservers.net", "Jake Schoermer" %></p>
			</div> <!-- End #footer-middle-->
			<div id ="footer-right" class="footersection">
				<%= image_tag "images/uqcfc-logo.jpg"%>
			</div> <!-- End #footer-right-->
		</div> <!-- End #footer-inner-->
	</footer>

</body>
</html>

